body{
    background-image: url("../media/meetriks.gif");
    background-size: 50%;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    height: 20px;
    padding: 20px;
}

p{
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
    color: black;
    background-color: green;
    padding: 10px;
}

.link:hover{
    background-color: #00a600;
}

.title{
    text-align: center;
}