body{
    background-image: url("../media/meetriks.gif");
    background-size: 50%;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.navBar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    height: 20px;
    padding: 20px;
}

.container{
    margin: 5%;
    padding: 2%;
    background-color: #202020cc;
    text-align: center;
}

.title

.link{
    text-decoration: none;
    color: black;
    background-color: green;
    padding: 10px;
    margin: 0px 2%;
}

.link:hover{
    background-color: #00a600;
}