body{
    background-image: linear-gradient(75deg, rgba(79, 99, 64, 1) 0%, rgba(161, 171, 109, 1) 100%);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100dvh;
}

.navBar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    background-color: #8d9566;
    height: 20px;
    padding: 20px;
    border-radius: 50px;
}

.header{
    margin: 5%;
    padding: 2%;
    background-color: #202020cc;
    text-align: center;
    border-radius: 5px;
}

.title{

}

.link{
    text-decoration: none;
    color: black;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    margin: 0px 2%;
    border-radius: 5px;
}

.link:hover{
    background-color: lightgray;
}

.clickable{
    cursor: pointer;
}

.counter{
    font-size: 20px;
    margin-bottom: 10px;
}

#btnLeft:active {
    transform: scale(0.95);;
    transition: transform 3ms;
}
